<div class="main-container">
  <div class="alert alert-app-level">
  </div>

  <!-- header -->
  <app-header></app-header>

  <!-- subnav -->
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/browser']">Browser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/monitor']">Monitor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/info']">Info</a>
      </li>
    </ul>
  </nav>

  <!-- content -->
  <router-outlet></router-outlet>
  
</div>